#!/bin/bash
#
#~/.xprofile


wal -i ~/env/wal & #PyWal
#urxvtd &           #URXVT Deamon

#Touchpad
xinput set-prop "SynPS/2 Synaptics TouchPad" 315 1 1 1

slstatus & #SLStatus

#sxhkd -c $HOME/.config/berry/sxhkdrc &


